// Media Query breakpoints:
// --> $mobile
@import '../breakpoints.scss';

h3 {
    width: 100%;
}

.TodoList-container {
    border: 1px solid white;
    box-shadow: 10px 10px 10px black;
    border-radius: 3%;
    background: rgba(136, 136, 136, 0.397);
    width: 70%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    @media(max-width: $mobile) {
        width: 90%;
        height: auto;
        padding: 3%;
        margin: auto;
    }

    .selection-div {
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: flex-end;

        @media(max-width: $mobile) {
        padding: 1%;
    }

        .select {
            width: 5%;
            height: 4vh;
            font-size: 0.7rem;
            background: white;
            color: black;

            @media(max-width: $mobile) {
                padding: 1%;
                height: 60%;
                width: 10%;
            }
        }

        .all {
            background: black;
            color: white;
        }
    }
}