.item {
    border: 1px solid black;
    border-radius: 10%;
    background: darkred;
    box-shadow: 3px 3px 3px black;
    width: 15%;
    word-wrap: normal;
    display: inline-table;
    margin: 2% 0 2%;
    cursor: pointer;
}

.item:hover {
    box-shadow: 2px 2px 15px gray;
    transition: all 0.1s ease-in-out;
}

.item:active {
    transform: translateY(10px);
}

.completed {
    background: green;
}