.item {
    border: 1px solid black;
    background: darkred;
    color: whitesmoke;
    box-shadow: 3px 3px 3px black;
    width: 15%;
    margin: 2% 0 2%;
    cursor: pointer;
}

.completed {
    background: green;
}