h3 {
    width: 100%;
}

.TodoList-container {
    border: 1px solid white;
    box-shadow: 10px 10px 10px black;
    border-radius: 3%;
    background: rgba(136, 136, 136, 0.397);
    width: 70%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.TodoList-container .selection-div {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
}

.TodoList-container .selection-div .select {
    width: 5%;
    height: 4vh;
    font-size: 0.7rem;
    background: white;
    color: black;
}

.TodoList-container .selection-div .all {
    background: black;
    color: white;
}