@import '../breakpoints.scss';

.item {
    border: 1px solid black;
    border-radius: 10%;
    background: darkred;
    box-shadow: 3px 3px 3px black;
    width: 15%;
    word-wrap: normal;
    display: inline-table;
    margin: 2% 0 2%;
    cursor: pointer;

    @media(max-width: $mobile) {
        font-size: .8rem;
        font-size: .75rem;
        width: auto;
        padding: 1%;
        margin: 2%;
    }

    &:hover {
        box-shadow: 2px 2px 15px gray;
        transition: all 0.1s ease-in-out;
    }

    &:active {
        transform: translateY(10px);
    }
}

.completed {
    background: green;
}