.Todo-container {
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    width: 25%;
    margin: 2% 0 2%;
}

.complete {
    background: green;
}

.Todo-container .todo-item {
    text-decoration: none;
}

.Todo-container .completed {
    text-decoration: line-through;
}