.TodoList-container {
    border: 1px solid white;
    box-shadow: 10px 10px 10px black;
    border-radius: 3%;
    background: rgba(136, 136, 136, 0.397);
    width: 70%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}