button {
    background: gray;
    border-radius: 10%;
    box-shadow: 10px 10px 10px black;
    width: 20vh;
    height: 5vh;
    margin: 1%;
    font-size: 1.3rem;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    box-shadow: 2px 2px 15px gray;
    transition: all 0.1s ease-in-out;
}

button:active {
    transform: translateY(10px);
}

form {
    width: 35%;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-left: 5%;
}

.TodoForm-container {
    display: flex;
    justify-content: space-evenly;
}

.TodoForm-container form input {
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 10px 10px 10px black;
    width: 35%;
    margin-right: 5%;
    height: 4vh;
    font-size: 1.3rem;
    color: black;
}

.TodoForm-container form .add-todo {
    margin-left: 5%;
}

.TodoForm-container .clear-completed {
    background: red;
    align-self: center;
    width: 15%;
    margin-right: 5%;
}

.TodoForm-container .clear-selected {
    background: green;
    align-self: center;
    width: 15%;
    margin-right: 2%; 
}