.addTodo-button {
    width: 15%;
    height: 2rem;
    background: blue;
    color: whitesmoke;
}

.clearCompleted-button {
    width: 15%;
    height: 2rem;
    background: green;
    color: whitesmoke;
}

.completed {
    text-decoration: line-through;
}