@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

* {
    text-align: center;
    text-shadow: 10px black;
    font-family: 'Dosis', sans-serif;
    color: whitesmoke;
}

.App-container {
    border-radius: 1%;
    box-shadow: 10px 10px 10px black;
    background: url('./wood-bkgrnd.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}