@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

* {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: whitesmoke;
}

h1, h2, h3, h4, h5 {
    color: white;
}

.App-container {
    border-radius: 1%;
    box-shadow: 10px 10px 10px black;
    background: url('./wood-bkgrnd.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.App-container .header-text {
    padding: 2% 0 0;
}