@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
// Media Query breakpoints:
@import './breakpoints.scss';

* {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: whitesmoke;
}

h1, h2, h3, h4, h5 {
    color: white;
}

h2 {
    @media(max-width: $mobile) {
        font-size: 1.5rem;
    }
}

h3 {
    @media(max-width: $mobile) {
        font-size: 1.2rem;
    }
}

p {
    @media(max-width: $mobile) {
        font-size: 1rem;
    }
}

.App-container {
    border-radius: 1%;
    box-shadow: 10px 10px 10px black;
    background: url('./wood-bkgrnd.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media(max-width: $mobile) {
        font-size: .8rem;
        height: 100vh;
        width: auto;
    }

    .header-text {
        padding: 2% 0 0;
    }
}